@charset "utf-8";
/* CSS Document */

.tooltip_box{
	display: none;
	opacity: 0;
	position: absolute;
	background-color: #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 8px;
	color: #fff;
	font: 12px Arial;
	max-width: 200px;
	line-height: 120%;
}
.arr_up{
	background: url(images/arr-up.png) no-repeat;
	position: absolute;
	top: -5px;
	width: 10px; height: 5px;
}
.arr_right{
	background: url(images/arr-right.png) no-repeat;
	position: absolute;
	right: -5px;
	width: 5px; height: 10px;
}
.arr_down{
	background: url(images/arr-down.png) no-repeat;
	position: absolute;
	bottom: -5px;
	width: 10px; height: 5px;
}
.arr_left{
	background: url(images/arr-left.png) no-repeat;
	position: absolute;
	left: -5px;
	width: 5px; height: 10px;
}