@charset "utf-8";
/* CSS Document */
body{
	background: url(images/background.jpg) repeat;
	padding: 0 !important;
	font-size: 100%;
}
select, input{
	margin: 0 !important;
}
.boxed{
	padding: 0 60px;
}
.first_line{
	background: #333;
}
.first_line .brand{
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	line-height: 200%;
}
.first_line .nav-ad{
	min-width: 200px;
}
.first_line .nav-ad .nav-ad-btn{
	padding-top: 9px;
	text-align: right;
}
.first_line .nav-ad  .nav-ad-lang{
	padding-top: 10px;
	text-align: right;
}
.second_line{
	background-color: #dbdbdb;
	padding: 8px 0;
	-webkit-box-shadow:  0px 2px 2px 0px rgba(100, 100, 100, 0.4);
    box-shadow:  0px 2px 2px 0px rgba(100, 100, 100, 0.4);
}

.second_line .city_select a{
	color: #000;
	font-size: 80%;
	font-weight: bold;
}
.second_line .city_select a .caret{
	margin: 10px 0 0 3px;
}
.second_line .search_field input{
	width: 100%;
}
.select_styling{
	text-align: right;
	float: right !important;
	min-width: 250px !important;
}
.select_styling .select_btn{
	position: relative;
	color: #adadad !important;
	min-width: 140px;
	text-align: left;
	float: left;
	margin: 0 2px 0 0;
}
.select_styling .select_btn .caret{
	position: absolute;
	right: 10px;
}
.select_styling .search_btn{
	float: right;
	font-weight: bold;
}

.container-fluid{
	padding-top: 30px;
	padding-bottom: 80px;
	margin: 0 auto -60px !important;
}

.banners{
	width: 218px !important;
	max-width: 218px !important;
	float: right !important;
}
.banners li{
	margin: 0 0 10px 0;
}
.banners li a{
	border: none !important;
}
.banners li img{
	width: 214px !important;
	max-width: 214px !important;
	border: 2px solid #e1e1e1;
}

.main_part{
	width: 680px !important;
	/*width: 100%;*/
	float: right !important;
	margin: 0 100px 0 0 !important;
}

.main_part .infobox{
	position: relative;
	padding: 10px 10px 0 10px !important;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	max-width: 194px !important;
	min-width: 194px !important;
	margin-bottom: 5%;
	float: left;
}
.main_part .big{
	max-width: 423px !important;
	min-width: 423px !important;
}
.main_part .yellow{
	background-color: #fef5ca;
	-webkit-box-shadow: 3px 3px 5px 2px rgba(100, 100, 100, 0.4);
	box-shadow: 3px 3px 5px 2px rgba(100, 100, 100, 0.4);
}
.main_part .infobox .pic_holder{
	position: relative;
}
.main_part .infobox .pic_holder img{
	width: 100% !important;
}
.main_part .infobox .hotprice{
	position: absolute;
	top: 0; right: 0;
	padding: 5px 7px !important;
	background-color: #f00;
	color: #fff;
	font-weight: bold;
	font-size: 90%;
}
.main_part .infobox .mini_gallery{
	list-style: none !important;
	padding: 0 !important; margin: 0 !important;
}
.main_part .infobox .mini_gallery li{
	float: left;
	max-width: 20% !important;
}
.main_part .infobox .mini_gallery li img{
	width: 100%;
}
.main_part .infobox h2{
	clear: both;
	padding: 20px 0 10px 0 !important;
	margin: 0 !important;
	font-size: 85%;
	line-height: 100%;
}
.main_part .infobox p{
	margin: 0 !important;
	padding: 0 !important;
	font-size: 80%;
	line-height: 130%;
}
.main_part .infobox .infobox_footer{
	background-color: #f7f7f7;
	padding: 5px 10px 10px;
	margin: 10px -10px 0 !important;
}
.main_part .infobox .infobox_footer p{
	font-size: 70%;
	color: #acacac;
	margin: 5px 0 0 0 !important;
}
.main_part .yellow .infobox_footer{
	background-color: #f5ecc3;
}
.main_part .yellow .infobox_footer p{
	color: #a09d8e;
}

footer {
	height: 60px;
	background-color: #dbdbdb;
	padding: 10px 60px;
}
footer h2{
	float: left;
	color: #fff;
}
footer h3{
	float: right;
	color: #CCC;
}

@media (max-width: 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
