@charset "utf-8";
/* CSS Document */

*{
	border: none;
	margin: 0;
	padding: 0;
}
body{
	background-color: #6b7e8d;
	font-family: Arial;
}
a{
	color: #6689a6;
	text-decoration: none;
}

.boxed{
	width: 1008px;
	margin: 0 auto;
}
#wrapper{
	width: 1008px;
	margin: 25px auto;
}

header{
	height: 39px; width: 100%;
	background-color: #47535d;
}
header h1{
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
	line-height: 39px;
}
header #right_part{
	float: right;
	list-style: none;
	height: 16px;
	padding: 10px 0 0 0;
}
header #right_part li{
	float: left;
	margin: 0 10px 0 0;
	height: 16px;
}
header #right_part li a{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0, offy=1);			
}
header #right_part li.delimeter{
	width: 1px; height: 16px;
	background-color: #343f47;
	border-right: 1px solid #717b83;
	margin: 3px 10px 0 0;
}

/* ICONS */
.qty_ico{
	display: block;
	position: absolute;
	right: -22px; top: -2px;
	width: 14px; height: 19px;
	font: bold 11px/17px Arial;
	color: #475a6a;
	text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);		
	background: url(../taskS1/images/qty_ico.png) left top no-repeat;
	padding: 0 0 0 5px;
}
.sett_ico{
	display: block;
	position: absolute;
	left: -18px; bottom: 12px;
	width: 13px; height: 14px;
	background: url(../taskS1/images/sett_ico.png) left top no-repeat;
}
.pencil_ico{
	display: inline-block;
	width: 12px; height: 12px;
	background: url(../taskS1/images/pencil_ico.png) left top no-repeat;
}
.calendar_ico{
	display: inline-block;
	width: 11px; height: 12px;
	background: url(../taskS1/images/calendar_ico.png) left top no-repeat;
}
.logout_ico{
	display: inline-block;
	width: 7px; height: 8px;
	background: url(../taskS1/images/logout_ico.png) left top no-repeat;
}
/* END ICONS */

nav{
	width: 627px;
	min-height: 40px;
	padding: 0 30px 0 40px;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: left;
	margin-right: 30px;
}
nav ul li.pull_right{
	margin: 0;
	float: right !important;
}
nav ul li a{
	display: block;
	position: relative;
	font: bold 14px/40px Arial;
	text-decoration: none;
	color: #fff;
	text-shadow: 0px 1px 1px #383838;
    filter: dropshadow(color=#383838, offx=0, offy=1);	
}
nav ul li a:hover,
nav ul li.active a{
	color: #bbcddc;
}
nav ul li.active a{
	background: url(../taskS1/images/nav_up_arrow.png) bottom center no-repeat;
}

#content{
	background-color: #f9f9f9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 697px;
}

#content #cont_header{
	background-color: #f3f3f3;
	border-bottom: 1px solid #e0e0e0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 20px 40px 10px;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(250, 250, 250, 0.2);
	box-shadow: 0px 10px 10px 0px rgba(250, 250, 250, 0.2); 	
}
#content #cont_header h1{
	color: #666;
	font-family: Arial;
	font-size: 22px;
}
#content_box{
	padding: 20px 40px;
}
#content_box p{
	margin: 0 0 20px 0;
	color: #333;
	font-family: Arial;
	font-size: 14px;
}
time{
	display: block;
	color: #666;
	margin: 0 0 10px 0;
}
